
<script>
    function GetListingTypes(categoryID) {
        var retVal = null;
        $("<img src='Content/images/General/refresh-animated.gif' />").appendTo("ul#listingtypes");
        Proxy.invoke("GetListingTypes", { categoryID: categoryID },
        function (result) {
            //draw radio buttons
            $("ul#listingtypes").empty();
            if (result.length > 0) {
                for (listingtype in result) {
                    if (selectedType != result[listingtype].Name) {
                        $("ul#listingtypes").append('<li class="list-group-item">'
                                                  + '  <input id="ListingType_' + result[listingtype].Name + '" type="radio" name="ListingType" value="' + result[listingtype].Name + '" />'
                                                  + '  <label for="ListingType_' + result[listingtype].Name + '">&nbsp&nbsp' + result[listingtype].DisplayName + '</label>'
                                                  + '</li>');
                    } else {
                        $("ul#listingtypes").append('<li class="list-group-item">'
                                                  + '  <input id="ListingType_' + result[listingtype].Name + '" type="radio" name="ListingType" value="' + result[listingtype].Name + '" checked="checked" />'
                                                  + '  <label for="ListingType_' + result[listingtype].Name + '">&nbsp&nbsp;' + result[listingtype].DisplayName + '</label>'
                                                  + '</li>');
                    }
                }

                if ($("input[name='ListingType']:checked").length == 0) {
                    $("input[name='ListingType']").first().prop("checked", "checked");
                }

                $("input[type='radio']").unbind("change");
                $("input[type='radio']").change(function () {
                    selectedType = $(this).val();
                });

            } else {
                $("ul#listingtypes").append("<li class='list-group-item'>@Html.GlobalResource("SelectCategoryFirst").ToJavascriptSafeString()</li>");
            }
            if (FormHasRequiredFields()) {
                $("#create").prop("disabled", false).fadeTo(0, 1);
            } else {
                $("#create").prop("disabled", true).fadeTo(0, 0.5);
            }
        },
        function (error) { window.alert(error); });
        return retVal;
    }

    @if (ViewData["ListingType"] != null)
    {
        @:var selectedType = '@ViewData["ListingType"]';
        }
    else
    {
        @:var selectedType = '';
        }
    $(document).ready(function () {
        $("input#CategoryID").change(function () {
            GetListingTypes($(this).val());
        });
        $("ul#listingtypes").html($("input#ListTypeRendererState").val());
        if (selectedType != "") {
            GetListingTypes($("input#CategoryID").val());
        }
    });

</script>

<ul id="listingtypes" class="list-group">
    <li class="list-group-item">@Html.GlobalResource("SelectCategoryFirst")</li>
</ul>
