<div class="row">
    <div class="col-xs-12">
        <div class="well well-sm section-title">
            @Html.GlobalResource("ContactUs")
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.GetSiteContent("ContactUsSubmitted")
            </div>
        </div>
    </div>
</div> 