<div class="row">
    <div class="col-xs-12">
        <div class="well well-sm section-title">
            @Html.GlobalResource("PrivacyPolicy")
        </div>
        @Html.GetSiteContent("PrivacyPolicy")
    </div>
</div>

