
.logo {
    margin-top: 5px;
}

.demo-btn__wrapper {
    text-align: center;
    background-color: #fff8c5;
    border-bottom: 1px dashed #000;
    padding: 10px;
}

.demo-data__wrapper {
    background-color: #fff8c5;
    border: 1px dashed #000;
    padding: 10px;
}

.btn-demo--open {
    font-size: 16px;
}

    .btn-demo--open:hover {
        color: #fff;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    .btn-demo--open svg {
        fill: #fff;
        vertical-align: middle;
    }

.btn-demo--close {
    margin-top: 10px;
}

.modal-dialog.demo-dialog {
    margin: 0 auto;
}

.demo-content {
    border-radius: 0;
    padding: 35px 15px 15px 15px;
    text-align: center;
    position: relative;
    z-index: 99999;
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    .demo-content a:hover, .demo-content a:focus, .demo-content a:active {
        text-decoration: none;
    }

    .demo-content svg {
        vertical-align: middle;
    }

    .demo-content small {
        font-size: 12px;
    }

@media (max-width:500px) {
    .demo-content .btn {
        white-space: normal;
    }
}

.demo-header--icon svg {
    height: 50px;
    width: 50px;
    opacity: .1;
    fill: #000;
    animation: demospin 16s linear infinite;
}

    .demo-header--icon svg path {
        -webkit-transform-origin: center center;
    }

.demo-header--title {
    font-size: 32px;
    margin: 0;
    text-align: center;
    color: #555;
}

.demo-theme {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

    .demo-theme label {
        font-weight: 400;
    }

.demo-theme__select {
    width: 75%;
    border: 0;
    border-bottom: 1px solid #ccc;
    background-color: #fff8c5;
    padding: 5px;
    margin-left: 5px;
    font-weight: 700;
}

.demo-header--reset {
    font-size: 16px;
    margin-bottom: 20px;
}

.demo-action__row {
    text-align: center;
    margin: 0 auto;
    width: 85%;
    font-size: 16px;
}

    .demo-action__row a {
        transition: .5s ease-out;
    }


    /* .demo-action__row a:hover {
            border-bottom: 1px solid #ec971f;
        }
           */

    .demo-action__row + .demo-action__row {
        margin-top: 20px;
        margin-bottom: 10px;
    }

.awe-demo-goto-homepage {
    display: none;
}

.backtoAW {
    position: absolute;
    top: 10px;
    right: 10px;
}

    .backtoAW svg {
        margin-top: 5px;
    }

    .backtoAW span {
        opacity: 0;
        font-size: 14px;
    }

    .backtoAW:hover span {
        opacity: 1;
    }

    .backtoAW:hover {
        text-decoration: none;
    }

.backtoRW {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* animations */
@-moz-keyframes demospin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes demospin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes demospin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes bulge {
    0% {
        -moz-transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.1);
    }

    100% {
        -moz-transform: scale(1);
    }
}

/*adjustments for admin control panel display*/
#AdminControlPanel .demo-btn__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
}

#AdminControlPanel {
    padding-top: 0;
}

    #AdminControlPanel > .container-fluid {
        padding-top: 109px;
    }

    #AdminControlPanel .navbar-fixed-top {
        top: 58px;
    }


.hex-color-picker-wrapper .picker-form .submit {
    cursor: not-allowed;
    pointer-events: none;
}


.modal{top: 50px;} /*bootstrap dialog modals overlapping demo menu bar*/