@{
    Layout = "~/Views/Account/_MyAccountLayout.cshtml";
}

<div class="col-xs-12">
    <div class="well well-sm section-title">
        @Html.GlobalResource("ForgotPassword")
    </div>
    @Html.GlobalResource("ForgotPasswordEmailSent")
</div>


